---
import Layout from "../layouts/default.astro";
import Skills from "../components/skills.astro";
import ProjectCard from "../components/project-card.astro";
import ContactForm from "../components/contact-form.astro";
---

<Layout title="Welcome to raymondwolt.com">
  <div class="container">
    <section id="intro">
      <div class="block">
        <!-- <img src="/images/placeholder_300x400_white.png" /> -->
        <div class="intro-container">
          <div class="hero">
            <h1>Raymond Wolt</h1>
            <h2>Web Developer</h2>
          </div>
          <p>
            Hello, I’m Raymond Wolt. I am a web developer who is focused on
            crafting user-friendly web applications. I bring experience building
            applications using the MERN (MongoDB, Express, React, and Node)
            stack, with a strong interest in front-end frameworks, API
            development, and long-term maintainability. I am a creative problem
            solver who likes to work with others to find pragmatic solutions. I
            am continuously learning new technologies and best practices to
            improve my skills as a developer.
          </p>
          <h2>My Skills</h2>
          <Skills />
        </div>
      </div>
    </section>
    <!-- <section id="about">
      <h2>About Me</h2>
      <div class="block">
        <p></p>
      </div>
    </section> -->
    <section id="about">
      <h2>About Me</h2>
      <div class="block">
        <p>
          Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida.
          Morbi non arcu risus quis varius quam. Turpis massa tincidunt dui ut.
          Arcu odio ut sem nulla pharetra diam sit amet nisl. Viverra vitae
          congue eu consequat. Vel elit scelerisque mauris pellentesque pulvinar
          pellentesque habitant morbi tristique. Massa tincidunt nunc pulvinar
          sapien et ligula. Arcu ac tortor dignissim convallis aenean et tortor
          at. Egestas quis ipsum suspendisse ultrices gravida dictum fusce ut.
          Eleifend donec pretium vulputate sapien nec sagittis aliquam
          malesuada. Id porta nibh venenatis cras sed felis. Cursus euismod quis
          viverra nibh cras pulvinar mattis nunc. Nibh cras pulvinar mattis
          nunc. Sit amet massa vitae tortor condimentum lacinia quis. At varius
          vel pharetra vel turpis nunc eget. Eget mi proin sed libero enim.
        </p>
      </div>
    </section>
    <section id="projects">
      <h2>My Projects</h2>
      <div class="block">
        <div class="projects-container">
          <a href="projects/microblog-site">
            <ProjectCard
              imageURL="/images/placeholder_400x300_white.png"
              projectName="Social Media Site"
            />
          </a>
          <a href="projects/food-ordering">
            <ProjectCard
              imageURL="/images/placeholder_400x300_white.png"
              projectName="Restaurant Ordering "
            />
          </a>
          <a href="projects/yt-semantic-search">
            <ProjectCard
              imageURL="/images/placeholder_400x300_white.png"
              projectName="Semantic Search"
            />
          </a>
        </div>
      </div>
    </section>
    <section id="contact">
      <h2>Contact</h2>
      <div>
        <ContactForm />
      </div>
    </section>
    <script>
      import "../scripts/hamburger-menu.ts";
    </script>
  </div>

  <style>
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h1,
    h2 {
      font-family: "Nunito Sans", sans-serif;
    }

    h2 {
      margin-bottom: 0;
    }
    section {
      padding: 1rem;
      width: 100%;
    }

    section p {
      font-size: 1.25rem;
    }

    .block {
      display: flex;
      justify-content: center;
    }

    .intro-container {
      display: flex;
      flex-direction: column;
      padding-left: 2rem;
    }

    .skills-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .skills-container > ul {
      margin: 0 5rem;
    }

    .projects-container {
      display: flex;
    }

    .projects-container > a {
      text-decoration: none;
      text-align: center;
    }

    @media screen and (min-width: 320px) {
      #intro > .block,
      .projects-container {
        flex-direction: column;
        align-items: center;
      }

      #intro > .block > img {
        max-width: 250px;
        padding: 1rem;
      }

      .intro-container {
        padding: 0;
      }

      .hero h1 {
        font-size: 4rem;
        margin: 0;
      }

      .hero h2 {
        font-size: 1.75rem;
        margin: 0;
      }
    }

    @media screen and (min-width 480px) {
    }

    @media screen and (min-width: 768px) {
      #intro > .block,
      .projects-container {
        flex-direction: row;
      }

      .container {
        margin: 0 2rem;
      }

      /* .intro-container {
        padding-left: 2rem;
      } */
    }

    @media screen and (min-width: 1024px) {
      .container {
        margin: 0 15%;
      }
    }

    @media screen and (min-width: 1440px) {
      .container {
        margin: 0 25%;
      }
    }
  </style>
</Layout>
