---
import Layout from "../layouts/default.astro";
import ProjectCard from "../components/project-card.astro";
---

<Layout title="Welcome to raymondwolt.com">
  <main>
    <section class="block">
      <h1>Hi, I'm Ray.</h1>
      <p></p>
    </section>
    <section class="block" id="about">
      <h2>About Me</h2>
    </section>
    <section class="block" id="projects">
      <h2>My Projects</h2>
      <div class="projects-container">
        <a href="/project-1">
          <ProjectCard
            imageURL="/images/placeholder_400x300_white.png"
            projectName="Social Media Site"
          />
        </a>
        <a href="/project-2">
          <ProjectCard
            imageURL="/images/placeholder_400x300_white.png"
            projectName="Restaurant Ordering Application"
          />
        </a>
        <a href="/project-3">
          <ProjectCard
            imageURL="/images/placeholder_400x300_white.png"
            projectName="Semantic Search"
          />
        </a>
      </div>
    </section>
    <section class="block" id="contact">
      <h2>Contact</h2>
    </section>
  </main>
</Layout>

<style>
  .projects-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .projects-container > a {
    text-decoration: none;
  }
</style>
