---
import Layout from "../layouts/default.astro";
---

<Layout title="Welcome to raymondwolt.com">
  <main>
    <section class="block">
      <h1>Hi, I'm Ray.</h1>
      <p></p>
    </section>
    <section class="block" id="about">
      <h2>What I Do</h2>
    </section>
    <section class="block" id="projects">
      <h2>My Projects</h2>
    </section>
    <section class="block" id="writing">
      <h2>Writing</h2>
    </section>
    <section class="block" id="contact">
      <h2>Contact</h2>
    </section>
  </main>
</Layout>
