<header>
  <nav>
    <a id="home" href="/">RW</a>
    <div id="hamburger-button">|||</div>
    <ul class="nav-links">
      <a href="/#about"><li>About Me</li></a>
      <a href="/#projects"><li>Projects</li></a>
      <a href="/#"><li>Resume</li></a>
    </ul>
  </nav>
</header>

<style>
  .nav-links {
    display: flex;
    list-style-type: none;
  }

  header {
    padding: 2rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav a {
    color: var(--primary-color);
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.4rem 0.8rem;
  }

  nav a:not(:last-child):hover,
  footer a:hover {
    text-decoration: underline;
  }

  nav a:last-child {
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
  }

  @media screen and (min-width: 320px) {
    .nav-links {
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      align-items: center;
      position: absolute;
      top: 0;
      margin-top: 50px;
    }
  }

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    .nav-links {
      display: flex;
      flex-direction: row;
      margin: 0;
      justify-content: flex-end;
      align-items: center;
      list-style-type: none;
      position: initial;
    }

    #hamburger-button {
      display: none;
      cursor: pointer;
    }
  }
</style>
