---
const { imageURL, projectName } = Astro.props;
---
<div class="project-card">
  <img src={imageURL} />
  <div class="card-info"><p>{projectName}</p></div>
</div>

<style>
  .project-card {
    margin: 1rem;
  }
  
  .project-card > img {
    width: 100%;
  }

  .project-card-info {
    text-align: center;
  }

  .project-card-info > p {
    text-decoration: none;
    color: black;
  }

  .project-card:hover {
    cursor: pointer;
  }

  .project-card:hover > .project-card-info p {
    text-decoration: underline;t
  }
  
  
  @media screen and (min-width: 320px) {
    .project-card {
    font-size: 1rem;
    }
  }
</style>