---
const { index, text, imageURL } = Astro.props;
---

<div class=`project-detail-block ${index % 2 == 1 ? 'reverse' : ''}`>
  <img src={imageURL} class="project-detail-image" />
  <p>
    {text}
  </p>
</div>

<style>
  .project-detail-block {
    display: flex;
  }

  @media screen and (min-width: 320px) {
    .project-detail-block {
      flex-direction: column;
      align-items: center;
      width: 100vw;
    }
  }

  @media screen and (min-width 480px) {
  }

  @media screen and (min-width: 768px) {
    .project-detail-block {
      flex-direction: row;
      width: 80%;
      padding: 2rem;
    }

    .project-detail-block > img {
      padding: 2rem;
      width: 50%;
    }

    .reverse {
      flex-direction: row-reverse;
    }
  }

  @media screen and (min-width: 1024px) {
  }
</style>
