---
import SkillsColumn from "./SkillsColumn";
import { Icon } from 'astro-icon'

const skillsWithIconNames = [
  ['Javascript', 'javascript' ],
  ['Typescript', 'typescript'],
  ['HTML', 'html5'],
  ['CSS', 'css3'],
  ['React', 'react'],
  ['Express', 'express'],
  ['MongoDB', 'mongodb'],
  ['git', 'git'],
]
---

<div class="skills-container">
  <SkillsColumn skills={skillsWithIconNames.slice(0, 4)} />
  <SkillsColumn skills={skillsWithIconNames.slice(4)} />
</div>

<style>
  .skills-container {
    display: flex;
    font-size: 1rem;
  }
</style>
