<h2>My Skills</h2>
<div class="skills-container">
  <ul>
    <li>Javascript ES6</li>
    <li>Typescript</li>
    <li>React</li>
    <li>Next.js</li>
    <li>Astro</li>
  </ul>
  <ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>Express</li>
    <li>MongoDB</li>
    <li>SQL</li>
  </ul>
</div>

<style>
  .skills-container {
    display: flex;
    font-size: 1rem;
  }

  skills-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
    flex: 1 1 auto;
  }

  li {
    padding: 0.15rem;
  }
</style>
