---
import ProjectLayout from "./project.astro";
import type { GetStaticPaths } from "astro";
export const getStaticPaths = (() => {
  return [
    { params: { project: "microblog-site" } },
    { params: { project: "restaurant-ordering" } },
    { params: { project: "yt-semantic-search" } },
  ];
}) satisfies GetStaticPaths;
const { project } = Astro.params;
const { frontmatter } = Astro.props;
---

<div>This is my project {project}</div>
