---
import Header from "../components/header.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cousine&family=IBM+Plex+Mono&family=Nunito+Sans:opsz@6..12&family=Open+Sans&family=Roboto&family=Source+Sans+3&display=swap" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>Raymond Wolt - Web Developer</title>
  </head>
  <Header />
  <body>
    <slot />
    <footer>
      <a href="https://github.com/rwolt">
        <p>Built by Raymond Wolt</p>
      </a>
    </footer>
  </body>

  <style is:global>
    :root {
      --primary-color: #007bff;
      --secondary-color: #343a40;
      --accent-color-1: #ff6b6b;
      --accent-color-2: #61c0bf;
      --accent-color-3: #ffd166;
      --text-color: #333333;
      --background-color: #f4f4f4;
    }

    * {
      box-sizing: border-box;
    }

    html {
      scroll-behavior: smooth;
      font-family: "Roboto", sans-serif;
    }

    body {
      margin: 0;
      background-color: var(--background-color);
    }
  </style>

  <style>
    footer {
      text-align: center;
    }

    footer a {
      color: var(--primary-color);
      text-decoration: none;
    }
  </style>
</html>
