---
import Layout from "../layouts/default.astro";
import ProjectDetailHeading from "../components/project-detail-heading.astro";
const { frontmatter } = Astro.props;
---

<Layout>
  <div class="project-detail-container">
    <ProjectDetailHeading
      projectName={frontmatter.title}
      projectSummary={frontmatter.summary}
    />
    <slot />
  </div>
</Layout>

<style>
  .project-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 320px) {
  }

  @media screen and (min-width 480px) {
  }

  @media screen and (min-width: 768px) {
    .project-detail-container {
      margin: 0 10%;
    }
  }

  @media screen and (min-width: 1024px) {
    .project-detail-container {
      margin: 0 20%;
    }
  }
</style>
