---
import Layout from "../layouts/default.astro";
import ProjectDetailHeading from "../layouts/default.astro";
const { projectName } = Astro.props;
---

<Layout>
  <div class="project-detail-container">
    <slot />
  </div>
</Layout>

<style>
  .project-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
  }
</style>
